<div th:fragment="header">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" href="/"></a>
            <div class="col-md-3 text-end">
                <div sec:authorize="isAuthenticated()">
                    <a method="post" th:href="@{/logout}">
                        <button class="btn btn-primary" type="submit">Sign-out</button>
                    </a>
                </div>
                <div sec:authorize="isAnonymous()">
                    <a method="post" th:href="@{/login}">
                        <button class="btn btn-primary" type="submit">Sign-up</button>
                    </a>
                </div>
            </div>
        </header>
    </div>
</div>