<div th:fragment="newGameModal">
    <div class="container text-center">
        <button class="btn btn-primary" data-bs-target="#exampleModal" data-bs-toggle="modal"
                type="button">Create new game
        </button>

        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New game</h5>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <select aria-label="Default select example" class="form-select">
                                <option selected>Choose number of moves</option>
                                <option value="3">Three</option>
                                <option value="5">Five</option>
                                <option value="7">Seven</option>
                            </select>
                            <div class="mb-3">
                                <label class="col-form-label" for="message-text">Moves:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-primary" type="submit">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var exampleModal = document.getElementById('exampleModal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            var modalTitle = exampleModal.querySelector('.modal-title')
            var modalBodyInput = exampleModal.querySelector('.modal-body input')
            modalTitle.textContent = 'Create new game' //+ recipient
        })
    </script>
</div>